<h1 style="display: flex; justify-content: center; align-items: center; font-family: 'Bungee Inline', cursive;"
>Music App</h1>
<body style="background-color: grey; border: solid, grey;">

</body>
<form style="display: flex; justify-content: flex-end; align-items: flex-end;" action="<%= users_url %>" method="post">
    <div style="border: solid grey;">
        <input type="text" name="user[username]" placeholder="Username">
        <br>
        <input type="text" name="user[email]" placeholder="Email">
        <br>
        <input type="password" name="user[password]" placeholder="Password">
        <br>
        <br>
        <input style=" border-radius: 50px 50px 50px 50px; color: aqua; background-color: black; " type="submit" value="Sign Up">
    </div>
</form>
