<h1>Sign Up</h1>

<form action="<% user_url %>" method="post">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="password" name="user[password]" placeholder="password">
</form>
